@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  /* border: 1px #fff solid; */
}

nav {
  position: fixed;
  top: 0;
  right: 7px;
  left: 0;
  display: flex;
  justify-content: end;
  padding: 10px;
  border-bottom: solid 2px #1f2937;
  color: #fff;
  z-index: 20;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
}

.navMobile{
  display: none;
}

nav .navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 30vw;
  margin-right: 20px;
}

.scrollbar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  padding: 0;
  bottom: 0;
  background-color: #e7e7e7;
}

.aiaDinScrollBar {
  width: 100%;
  padding: 0;
  height: 100%;
  position: absolute;
  left: 0;
  background: #00F0FF;
  background: linear-gradient(135deg, rgba(0, 240, 255, 1) 0%, rgba(0, 255, 157, 1) 100%);
}


#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}


.App {
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
    scroll-behavior: smooth;
}

.App::-webkit-scrollbar {
  width: 7px;
  display: none;
}


/* hero section */

.hero {
  display: flex;
  height: 60dvh;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  position: relative;
  background-color: #000;
}

.titleDiv {
  max-width: 40%;
  z-index: 2;
  position: relative;
}

.textAnimContainer {
  position: absolute;
  bottom: -50px;
  font-size: 1.5rem;
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.textAnimContainer h3 {
  border-right: #fff solid 1px;
  padding-right: 3px;
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
}

.hero h1 {
  font-size: 3.75rem;
}

.hero h1 span {
  color: #00f0ff;
  background-image: linear-gradient(45deg, #00f0ff, #00ff9d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.circleDiv {
  position: relative;
  z-index: 2;
}

.circle {
  height: 14vw;
  width: 14vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 360px;
  background-color: #111827;
  border: solid #1f2937 1px;
  box-shadow: 0px 0px 100px -30px rgba(0, 240, 255, 0.75);
  -webkit-box-shadow: 0px 0px 100px -30px rgba(0, 240, 255, 0.75);
  -moz-box-shadow: 0px 0px 100px -30px rgba(0, 240, 255, 0.75);
}

.insideCircleDiv {
  height: 50%;
  width: 80%;
  background-color: #1f2937;
  border-radius: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes blink {
  0% {
    border: none;
  }

  50% {
    border-right: #fff solid 1px;
  }

  100% {
    border: none;
  }
}

/* about me */

.abtMe {
  /* background-color: red; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.abtMe_title {
  color: #fff;
  font-size: 1.75rem;
}

.abtMe .line {
  width: 20rem;
  height: .25rem;
  margin-top: 10px;
  margin-bottom: 20px;
background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 0) 0%, rgba(8, 218, 237, 1) 35%, rgba(0, 240, 255, 1) 50%, rgba(40, 237, 226, 1) 65%, rgba(237, 221, 83, 0) 100%);
}

.abtMe_title span {
  color: #00f0ff;
}

.abtMe_cont {
  display: flex;
  /* background-color: red; */
  gap: 20px;
  width: 70%;
  color: #fff;
}



.card {
  background-color: #1f2937;
  padding: 1rem 2rem;
  border: 1px #1f2937 solid;
  border-radius: .75rem;
  transition: .15s;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: #374151 1px solid
}

.abtMe_para {
  max-width: 50%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.abtMe_det {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 9px;

}

.abtMe_card:hover {
  border: #00F0FF 1px solid
}

/* skill */

.skill_det {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem 2rem;

  width: 70%;
  color: #fff;
}

.skillEnum {
  list-style-type: disc;
  
  /* background-color: #00F0FF; */
}
.skillEnum li::marker{
  color: #00F0FF;
}

/* projects */

.project_det {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 9px;
  width: 70%;
  color: #fff;
}

.projectCard {
  padding: 0;
  border: none;
}

.projectCard .continut {
  padding: 1rem;
}

.projectCard .imgP {
  background: #00F0FF;
  background: linear-gradient(135deg, rgba(0, 240, 255, 1) 0%, rgba(0, 255, 157, 1) 100%);
  width: 100%;
  height: 200px;
  border-radius: .75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* input */

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 50%;
  /* max-width: 180px; */
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

textarea.form__field {
  height: 100px;
  resize: vertical;
  /* border: 2px solid #9b9b9b; */
  /* border-radius: .5rem; */
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown~.form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  left: 10px;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(135deg, rgba(0, 240, 255, 1) 0%, rgba(0, 255, 157, 1) 100%);
  border-image-slice: 1;
  border-radius: .5rem;
}

.form__field:focus~.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.langCard{
  border: #00eeff30 1px solid;
  border-radius: 15px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px; 
  transition: .2s;
}

.langCard:hover{
  background-color: rgba(0, 0, 0, 0.228);
  transform: scale(1.05);
}

/* From Uiverse.io by Carlos-vargs */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  border-radius: .5rem;
  font-weight: 700;
  height: 54px;
  font-size: 16px;
  padding-inline: 20px;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
  text-align: center;
  transition: all .25s ease-in-out;
  z-index: 1;
  border: #00F0FF solid 1px;
}

.button:hover {
  border-radius: 1rem;

}


.text {
  white-space: nowrap;
  line-height: 1.2;
  padding-inline-end: 44px;
  z-index: 2;
}


form {
  /* background-color: #00F0FF; */
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btnContainer {
  display: flex;
  width: 50%;
  justify-content: 'center';
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.navMobileDrop{
  display: none;
  background-color: #111827;
  width: 100%;
  height: 250px;
  position: absolute;
  bottom: -250px;
  left: 0;
}
.navMobileDrop ol{
  padding: 5px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}



.navMobileDrop li{
  padding: 10px;
  width: 100vw;
}


@media only screen and (max-width: 600px) {
  nav:first-child {
    display: none;
  }
  .navMobile{
    display: flex;
    border-radius: 0;
  }

  .navMobileDrop{
    display: flex;
  }

  .hero {
    height: 100dvh;
  }

  .titleDiv {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero {
    flex-direction: column;
  }

  .hero h1 {
    font-size: 2rem;
    text-align: center;
  }

  .circle {
    height: 60vw;
    width: 60vw;
    margin-top: 20px;
  }

  .textAnimContainer {
    font-size: 1rem;
  }

  .abtMe_cont {
    flex-direction: column;
    width: 96%;
  }

  .abtMe_para {
    max-width: 100%;
  }

  .skill_det {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 96%;
    gap: 1rem 1rem;
  }
  .skill_det svg{
    height: 20px;
    width: 20px;
  }
  .langCard{
    font-size: .5rem;
    padding: 1rem;
  }

  .project_det {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 96%;
  }

  .form__group {
    width: 100%;
  }

  .btnContainer {
    width: 100%;
  }

  form {
    width: 96%;
  }
}